{{#if @row}}
  <tr data-test-cs-table-row='{{@row.name}}-{{@row.device}}'>
    <td>{{@row.name}}</td>
    <td>{{@row.device}}</td>
    <td>{{@row.path}}</td>
    <td>{{@row.status}}</td>
  </tr>
{{/if}}