{{#if @row}}
  <tr data-test-cs-table-row>
    <td><Input
        @type='checkbox'
        @checked={{@selected}}
        disabled={{@disabled}}
        label='Select'
        aria-label='Select'
        {{on 'input' this.onSelect}}
        data-test-cs-table-row-select={{if
          @selected
          'selected'
          (if @disabled 'disabled' 'selectable')
        }}
      /></td>
    {{#if @structure}}
      {{#each @structure as |s|}}
        <td data-test-cs-table-row-col={{s.key}}>
          {{#if s.component}}
            {{#let (component s.component) as |CustomCell|}}
              <CustomCell @value={{get @row s.key}} />
            {{/let}}
          {{else}}
            {{get @row s.key}}
          {{/if}}
        </td>
      {{/each}}
    {{else}}
      {{#with (keys @row) as |keys|}}
        {{#each keys as |key|}}
          <td data-test-cs-table-row-col={{key}}>{{get @row key}}</td>
        {{/each}}
      {{/with}}
    {{/if}}
  </tr>
{{/if}}