{{#if @row}}
  <tr data-test-cs-table-row ...attributes>
    <td class='cs-item cs-item--no-right'><Input
        @type='checkbox'
        @checked={{@selected}}
        disabled={{@disabled}}
        label='Select'
        aria-label='Select'
        {{on 'input' this.onSelect}}
        data-test-cs-table-row-select={{if
          @selected
          'selected'
          (if @disabled 'disabled' 'selectable')
        }}
      /></td>
    {{#if @structure}}
      {{#each @structure as |s index|}}
        <td
          class={{concat 'cs-item' (if (eq index 0) ' cs-item--no-left')}}
          data-test-cs-table-row-col={{s.key}}
        >
          {{#if s.component}}
            {{#let (component s.component) as |CustomCell|}}
              <CustomCell @value={{get @row s.key}} />
            {{/let}}
          {{else}}
            {{get @row s.key}}
          {{/if}}
        </td>
      {{/each}}
    {{else}}
      {{#with (keys @row) as |keys|}}
        {{#each keys as |key index|}}
          <td
            class={{concat 'cs-item' (if (eq index 0) ' cs-item--no-left')}}
            data-test-cs-table-row-col={{key}}
          >{{get @row key}}</td>
        {{/each}}
      {{/with}}
    {{/if}}
  </tr>
{{/if}}